//====== AUDIO ====== 
IO_LOC  "HP_BCK" 	Y17;
IO_LOC  "HP_WS" 	AB17;
IO_LOC  "HP_DIN" 	AA16;
IO_LOC  "PA_EN" 	AB16;
IO_PORT "HP_BCK"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "HP_WS"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "HP_DIN"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "PA_EN"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;